<div class="categories">
  <h2>Catégories</h2>
  <button
    *ngFor="let category of ['Tous', 'Électronique', 'Accessoires']"
    (click)="filterProducts(category)">
    {{ category }}
  </button>
</div>

<div class="products">
  <h2>Produits</h2>
  <div class="product" *ngFor="let product of filteredProducts">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
    <h3>{{ product.name }}</h3>
    <p>Prix : {{ product.price }} €</p>
    <button (click)="addToCart(product)">Ajouter au panier</button>
  </div>
</div>
